var user_items_names = <%= raw @user_items_names.to_json %>
var city_id = <%= raw @city_id %>

var userList = $("#user_items_list ul");
userList.empty();
user_items_names.forEach(function(item) {
  var href = '/cities/' + city_id + '/item/' + item.id + '/push_to_city_stock';

  var html = '<li><a title="'+ item.name + '" data-remote="true" href="' + href + '"> \
                <div class="item_thumbnail"><img src="/assets/thumbnails/' + item.name + '.png" /></div> \
              </a></li>';
  userList.append(html);
});