<div class="btn-group-vertical places-group" role="group" aria-label="...">
  <% @places.each do |place| %>
    <%= link_to place[:name], "#{city_path}/#{place[:action]}", class: 'btn btn-default' %>
  <% end %>
</div>
