<div class="row">
  <h1>
    You are in the Yard of <%= @city.name %>.
  </h1>
  <div class="col-xs-3">
    <%= render "places" %>
  </div>
  <div class="col-xs-3" id="user_items_list">
    <h3>Your items</h3>
    <ul>
      <% @user_items.each do |item| %>
      <li>
        <p><%= button_to item.name, city_item_push_to_city_stock_path(@city, item.id), class: 'btn btn-regular btn-xs', :remote => true %></p>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-3"></div>
  <div class="col-xs-3" id="stock_items_list">
    <h3>Stock items</h3>
    <ul>
      <% @stock_items.each do |item| %>
      <li>
        <p><%= button_to item.name, city_item_pop_from_city_stock_path(@city, item.id), class: 'btn btn-regular btn-xs', :remote => true %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>

