<div class="row">
  <h1>
    You are in the Yard of <%= @city.name %>.
  </h1>
  <div class="col-xs-3">
    <%= render "places" %>
  </div>
  <div class="col-xs-4" id="user_items_list">
    <h3>Your items</h3>
    <ul>
      <%= render partial: 'items', collection: @user_items %>
    </ul>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-4" id="stock_items_list">
    <h3>Stock items</h3>
    <ul>
      <%= render partial: 'items', collection: @stock_items %>
    </ul>
  </div>
</div>

